@import "../external/bootstrap/scss/bootstrap-flex";
@import "vars";

@font-face {
  font-family: "Tahoma";
  src: url('../font/Tahoma.ttf')
}

body {
  font-family: "Tahoma", sans-serif;
}

table {
  user-select: none;
}

@import "index";
@import "profile";
@import "game";
@import "../external/octicons/octicons";
@import "../external/octicons/sprockets-octicons";
