@import "../external/bootstrap/scss/bootstrap-flex";
@import "vars";

@font-face {
  font-family: "Tahoma";
  src: url('../font/Tahoma.ttf')
}

body {
  font-family: "Tahoma", sans-serif;
}

table {
  user-select: none;
}

.hidden {
  display: none;
}

.btn-primary {
  background: $greenish-blue;
  border: none;
  border-radius: 0;
  transition: background-color .2s;

  &:hover, &:focus {
    background: lighten($greenish-blue, 4%);
  }
  &:active, &:active:hover {
    background: darken($greenish-blue, 4%);
  }
}

@import "index";
@import "profile";
@import "game";
@import "../external/octicons/octicons";
@import "../external/octicons/sprockets-octicons";
