@import "vars";

.profile {
  .battleship-bg {
    background-image: url(../images/battleship.jpg);
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    bottom: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    opacity: 0.5;
  }

  .navbar {
    background: $greenish-blue;
    height: 54px;

    .fb-data {
      height: 100%;
      span {
        padding-right: 15px;
        cursor: default;
      }
      img {
        max-height: 100%;

      }
    }
  }

  .play-btn-area {
    height: 90vh;

    .play-btn {
      text-transform: uppercase;
      padding: 15px;
      width: 175px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .fa {
        margin-left: 10px;
      }
    }
    .searching {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  .stats-area {

  }

  .nav-link, .navbar-brand {
    color: white !important;
  }

  .container {
    margin-top: 2vh;
  }
}