@main { @Html("") } {
    <div class="game" ng-controller="GameController">
        <div class="card card-block" ng-hide="startGame">
            <div class="card-title">Searching for other player</div>
            <div class="card-text">
                <i class="fa fa-spinner fa-spin fa-5x"></i>
            </div>
        </div>
        <div ng-show="placeShips">
            <h1>Please, place your ships.</h1>
            <table class="table table-bordered" id="shooting-board">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="letter in letters" ng-init="letterIndex = $index">
                        <th>{{letter}}</th>
                        <td ng-repeat="number in numbers" id="{{'ship-' + $parent.$index + '' + number}}" ng-drop="true" ng-drop-success="onDropComplete($data, $event, 'ship-' + letterIndex + '' + number)"><i class="fa fa-circle"></i>
                            <img ng-src="{{ship.src}}" alt="nada" ng-drag="true" ng-drag-start="onDragStart($data, $event)" ng-drag-data="ship" ng-drag-success="onDragComplete($data, $event)"  ng-repeat="ship in myBoard[number][letterIndex].img" class="floating-img" ng-class="{'width2': ship.width == 2, 'width3': ship.width == 3, 'width4': ship.width == 4, 'width5': ship.width == 5}">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="ships-container">
                <img ng-src="{{ship.src}}" alt="ship-1" id="{{$index}}" ng-repeat="ship in currentShips" ng-drag="true" ng-drag-data="ship" ng-drag-success="onDragComplete($data, $event)" ng-class="{'width2': ship.width == 2, 'width3': ship.width == 3, 'width4': ship.width == 4, 'width5': ship.width == 5}">
            </div>
        </div>
        <div ng-show="startGame && !placeShips">
            <h1>Click on a cell to select the position and the click FIRE!!!</h1>
            <table class="table table-bordered" id="shooting-board">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="letter in letters">
                        <th>{{letter}}</th>
                        <td ng-repeat="number in numbers" id="{{'opp-' + $parent.$index + '' + number}}" ng-click="selectPosition(number, $parent.$index)"><i class="fa fa-circle"></i></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-danger" ng-show="selected" ng-click="fire()">FIRE</button>
            <h1>These are your ships</h1>
            <table class="table table-bordered" id="my-board">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="letter in letters">
                        <th>{{letter}}</th>
                        <td ng-repeat="number in numbers" id="{{'my-' + $parent.$index + '' + number}}"><i class="fa fa-circle"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
} {
    <script src="@routes.Assets.at("scripts/socketUtil.js")"></script>
    <script src="@routes.Assets.at("scripts/gameCtrl.js")"></script>
}